{% extends "base.html" %} {% block title %}Task Instances{% endblock %} {% block
head %} {% endblock %} {% block content %}
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Task</th>
      <th>Pipeline</th>
      <th>Scheduled Time</th>
      <th>Execution Start</th>
      <th>Execution End</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for task in task_instances %}
    <tr>
      <td>{{task.id}}</td>
      <td>{{task.task_id}}</td>
      <td>{{task.pipeline_id}}</td>
      <td>{{task.scheduled_time}}</td>
      <td>{{task.execution_start}}</td>
      <td>{{task.execution_end}}</td>
      <td>{{task.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% call super() %} {% endblock %}
</table>
